*{
    box-sizing: border-box;
}

:root{
    --primary-color:#cccccc5f;
    --secondary-color: #333;
}

body{
    background-image: url("images/landing-bg-ww.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1.project {
    margin: 0;
    width: 101%;
    background: #333;
    color: white;
    text-align: center;
  
}


h1.tmdb {
    margin: 0;
    width: 101%;
    background: #333;
    color: white;
    text-align: center;
  
}

header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

nav {
    margin-left: auto;
}

nav a {
    margin: 0 10px;
    text-decoration: none;
    color: #f8f9fa;
}

nav a:hover {
    color: #ff6347;
}

nav a.split {
    float: right;
    color: white;
  }

footer {
    display: flex;
    justify-content: space-between;
    background-color: #817c7cb3;
    color: white;
    padding: 2px;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
  }

.footer2 {
    display: flex;
    justify-content: space-between;
    background-color: #817c7cb3;
    color: white;
    padding: 2px;
    text-align: center;
    right: 0;
    left: 0;
    bottom: 0;
  }

.left {
    text-align: left;
  }

.right {
    text-align: right;
  }

#text {
    text-align: center;
    margin: auto;
    width: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* black shadow with 50% opacity */
    color: white; /* white text */
  }
#text p {
    margin: 0;
    background: linear-gradient(to right, rgba(3, 3, 3, 0.5), rgba(3, 3, 3, 0.5));
    color: white; 
  }

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.button-pyramid {
    text-align: center;
}

.startbutton {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #31c5d5;
    border-radius: 10px;
}

.explore-buttons {
    display: flex;
    justify-content: space-between;
    width: 220px;
    margin: 0 auto;
}

.MovieDB, .TVDB {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom:2rem;
    width: 100px;
    height: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #31c5d5;
    border-radius: 10px;
}

.startbutton:hover,
.MovieDB:hover,
.TVDB:hover{
    background-color: #31c5d5;
    color: white;
}

img.resized-image {
    max-width: 30%;
  }

  h1.about {
    margin: 0;
    width: 101%;
    background: #333;
    color: white;
    text-align: center;
  
}

.returnHome {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 40px;
    background-color: white; 
    color: black; 
    border: 2px solid #31c5d5;
    border-radius: 10px;
}

.returnHome:hover{
    background-color: #31c5d5;
    color: white;
}


main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie-info span.green{
    color:lightgreen;
}

.movie-info span.orange{
    color:orange;
}

.movie-info span.red{
    color:red;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    overflow: auto;
}

.movie:hover .overview{
    transform:translateY(0)
}