
<!DOCTYPE html>

<html lang="en">
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="static/style.css" rel="stylesheet" />
    </head>
    <title>Documentation</title>
    <body> 

        <h1 class="h1Header">Documentation</h1>

    <header>
        <div id="navbar-container">
            <nav>
                <a href="#home" class="nav-item" onclick="returnToHome()">Home</a>
                <a href="#about" class="nav-item" onclick="goToAbout()">About</a>
                <a href="#Movie database" class="nav-item" onclick="goToMDB()">Movie Database</a>
                <a href="#TV show database" class="nav-item" onclick="goToTv()">TV show Database</a>
                <a href="#Wish List" class="nav-item" onclick="whishList()">Wish List</a>
                <a href="#Documentation" class="nav-item active" onclick="goToDoc()">Documentation</a>
            </nav>
        </div>
    </header>
    <div id="text-doc">
        <h5><strong>
            This page will serve as a comprehensive reference guide for all main and important sources used during the project. </br>
            Here, you'll find detailed information about the various APIs, libraries, documentation, and other resources that were utilized to develop and implement the project.</strong></h5></br>
        <p>- The project utilizes the API provided by <strog><a href="https://developer.themoviedb.org/reference/intro/getting-started" target="_blank">TMDB (The Movie Database).</a></strog></br>
        - Asish George Tech, (2021). "Movie app based on TMDB API | Day 17 | HTML CSS JS | 50Projects50Days". <a href="https://www.youtube.com/watch?v=9Bvt6BFf6_U&list=PLX7mEGqtfnSpsCJB7vpTh5tGY8YqoykbL" target="_blank">Youtube</a></br>
        - Hash Block, (2023). "Creating an API in Flask with MySQL: A Step-by-Step Guide. <a href="https://medium.com/@connect.hashblock/creating-an-api-in-flask-with-mysql-a-step-by-step-guide-446f08722057" target="_blank">Medium</a></br>
        - W3School (n.d). "JavaScript Tutorial" <a href="https://www.w3schools.com/js/default.asp" target="_blank">W3School</a></br>
        - W3School (n.d). "CSS Tutorial" <a href="https://www.w3schools.com/css/" target="_blank">W3School</a></br>
        - W3School (n.d). "HTML Tutorial" <a href="https://www.w3schools.com/html/default.asp" target="_blank">W3School</a></br>
        - DEV, (2019). "75 cool CSS Buttons". <a href="https://dev.to/webdeasy/top-20-css-buttons-animations-f41" target="_blank">DEV</a></br>
        - Javapoint, (n.d.). "Flask Session". <a href="https://www.javatpoint.com/flask-session" target="_blank">Javapoint</a></br>
        - mdn web docs (n.d). "EventTarget: addEventListener() method". <a href="https://developer.mozilla.org/en-US/docs/Web/API/EventTarget/addEventListener" target="_blank">mdn web docs</a></br>
        - Chris Roland (2023). "The JavaScript Fetch API: Everything You Need to Know". <a href="https://www.turing.com/blog/javascript-fetch-api-guide/#:~:text=In%20contrast%20to%20traditional%20AJAX,the%20fetch%20promise%20to%20reject." target="_blank">Turning</a></br>
        - Flask (n.d.), "Flask". <a href="https://flask.palletsprojects.com/en/3.0.x/" target="_blank">Flask</a></br>
        - Philipp Acsany (2023). "Build a Scalable Flask Web Project From Scratch". <a href="https://realpython.com/flask-project/" target="_blank">Real Python</a></br>
        - CSS Scan (n.d). "Beautiful CSS buttons examples". <a href="https://getcssscan.com/css-buttons-examples" target="_blank">CSS Scan</a></br>
        - Keshav Malik, (2022). "How to Use innerHTML in JavaScript, Plus Alternate Methods". <a href="https://coderpad.io/blog/development/javascript-innerhtml/" target="_blank">CoderPad</a></br>
        - Davor DSouza, (2023). "How To Use MySQL Database With Flask?".<a href="https://hevodata.com/learn/flask-mysql/" target="_blank">Hevo</a></br>
        - Reddit, (2021). "Need some help understanding the use of a Flask secret key".<a href="https://www.reddit.com/r/flask/comments/m0z7s1/need_some_help_understanding_the_use_of_a_flask/" target="_blank">Reddit</a></br>        
        </p>
    </div>
    <div>
        <button class="returnHomeDoc" onclick="returnToHome()"> Return Home</button>
    </div>

    <footer class="footer">
        <p class = "Left">Author: Francesco Troja</p>
        <a href="https://github.com/C-3sc0" target="_blank">
        <i class="fa fa-github" style="font-size:50px"></i>
        </a>
    </footer>
   
    <script>
        // Functions to redirect the user to different pages
        function returnToHome(){
            window.location.href = '/';
        }
        function goToAbout(){
            window.location.href = '/about';
        }
        function goToMDB(){
            window.location.href = '/movie';
        }
        function goToTv(){
            window.location.href = '/tv-show';
        }
        function whishList(){
            window.location.href = '/wish-list';
        }
        function goBack(){
            window.location.href = '/movie';
        }
        function goToDoc(){
            window.location.href = '/documentation';
        }
    </script>

    </body>
    </html>